<div id='cuerpo_padre' class="cuerpo_padre">
    <div id='navbar-le' class="dsp_no">
        <aside class="sidebar-light-primary elevation-4" style="width:100%; height: 100vh; margin: 0px;">
      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item">
              <a href="#" class="nav-link" id="opnb_perfil">
                <i class="fa-solid fas fa-user"></i>
                <p>
                  Mi perfil
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" id="opnb1">
                <i class="fa-solid fas fa-door-open"></i>
                <p>
                  Acceso de mañana
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link" id="opnb2">
                <i class="fa-solid fas fa-door-open"></i>
                <p>
                  Acceso de tarde
                </p>
              </a>
            </li>
            <li class="nav-item" id='opc_admin'>
              <a href="#" class="nav-link">
                <i class="fa-solid fas fa-user"></i>
                <p>
                  Administrador
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item" >
                  <a href="#" class="nav-link" id="opc_adm_1">
                    <i class="fa-solid fas fa-users"></i>
                    <p>Usuarios</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link" id="opc_adm_2">
                    <i class="fa-solid fas fa-user"></i>
                    <p>Tran. usuarios</p>
                  </a>
                </li>
              </ul>
            </li> 
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>
    </div>
    <div id="cuerpo" class="">
        <div class="row justify-content-center" style="width: 100vw;">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 my-5 py-3 cont_from_login" style="box-shadow:1px 5px 5px 5px #ccc; border-radius: 1rem;">
              <div class="text-center">
                <img src="view/images/minec_img_g1.jpg" style="width: 60%;" >
              </div>
                
                <h2 class="text-center">Control de acceso de las direcciónes de sistemas y radio</h2>
                <!-- <h2 class="text-center">Login</h2> -->
                <form action="">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Usuario</label>
                        <input type="text"class="form-control" id="usuario" name="usuario" placeholder="Ingresa tu usuario" autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="contrasena" class="form-label">Contraseña</label>
                        <input type="password"class="form-control" id="contrasena" name="contrasena" placeholder="Ingresa tu contraseña">
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-success" type="button" id="entrar" name="entrar">Entar</button>
                    <div id="resp_login" name="resp_login"></div>
                </form>
            </div>
        </div>
    </div>
</div>