</section>
  <!-- footer section -->
  
  <script type="text/javascript" src="view/js/library/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="view/js/library/adminlte.js"></script>
  <script type="text/javascript" src="model/class_user_model.js"></script>
  <script type="text/javascript" src="model/class_acciones_model.js"></script>
  <script type="text/javascript" src="model/class_expre_regulares.js"></script>
  <script type="text/javascript" src="controller/button_action_controller.js"></script>
  <script type="text/javascript" src="view/js/table_asistencia.js"></script>
  <script type="text/javascript" src="view/js/header_table_personal.js"></script>
  <script type="text/javascript" src="view/DataTables-1.13.6/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="view/DataTables-1.13.6/js/dataTables.bootstrap5.min.js"></script>
</body>
</html>