<body>
      <nav class='nav_header'>
        <div class="cont_navbar">
          <div class="cont_logo py-1 pl-3">
            <img src="view/images/icono_minec.png">
            <!-- <div> -->
              <p class="tit_logo ml-2">MINEC</p>
            <!-- </div> -->
          </div>
          <div class="bg-success cont_desc py-1">
            <p class="desc_desc ml-5">Control de acceso de las direcciónes de sistemas y radio</p>
            <div class="flex_n">
              <p onclick="usuario.logout()" id="btn_cerrar_ss" class="btn_cerrar dps_none px-1">Cerra sesion</p>
            </div>
          </div>
        </div>
      </nav>