<!-- header -->
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Asistecia de sistema - MINEC</title>
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="view/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="view/css/style.css">
  <link rel="stylesheet" type="text/css" href="view/css/header.css">
  <link rel="stylesheet" type="text/css" href="view/css/acciones.css">
  <link rel="stylesheet" type="text/css" href="view/css/tabla.css">
  <link rel="stylesheet" type="text/css" href="view/css/modal.css">
  <link rel="stylesheet" type="text/css" href="view/css/navbar_le.css">
  <link rel="stylesheet" type="text/css" href="view/css/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="view/DataTables-1.13.6/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" type="text/css" href="view/css/adminlte.min.css">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet">
  <script type="text/javascript" src="view/js/library/jquery-3.6.0.min.js"></script>
</head>